.MoviePage {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  color: #fff;
}

.MoviePage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Darker overlay for better text visibility */
  z-index: 0; /* Ensure the overlay is behind other elements */
}

.MoviePage img {
  border-radius: 0.75rem;
}

.MoviePage .content {
  position: relative;
  z-index: 10; 
}

.rating-modal {
  z-index: 20; /* Ensure the rating modal is above all other elements */
}

